[Unit]
Description=hash service
After=network.target

[Service]
User=damnqse05820
Group=www-data
WorkingDirectory=/home/damnqse05820/project/hash-service
Environment="PATH=/home/damnqse05820/project/hash-service/env/bin"
ExecStart=/home/damnqse05820/project/hash-service/env/bin/gunicorn --workers 3 --bind 0.0.0.0:6969 -m 007 wsgi:app
